
@mixin form-width($width) {
  width: $width;
}

// Mixin para altura do formulário
@mixin form-height($height) {
  height: $height;
}

.section {
    margin-top: 150px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;


}


.div {
padding: 10px;
margin-left: 20px;
flex-direction: column;
text-align: center;
width: 200px;
margin-bottom: 20px; 
height: 220px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  button{
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 22px;
    color: white;
    background-color:  rgba(58, 182, 27, 0.8);;
  }

}
.divImage {
margin-left: 20px;
flex-direction: column;
width: 200px; 
margin-bottom: 20px; 
height: 220px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
img{
  width: 200px;
  height: 220px;
}
}
.divForm{
border:2px solid rgba(201, 197, 197, 0.8);;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  input {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #3ab61b;
    padding-left: 10px;
  }
  button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #3ab61b;
    color: white;
    margin-left: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 450px) {
  .form {
    @include form-width(80%);
    @include form-height(auto);
  }
}

@media screen and (max-width: 100px) {
  .form {
    @include form-width(100%);
    @include form-height(auto);
  }
}
